<td>
    {% if termination.parent_object.provider %}
        <i class="mdi mdi-lightning-bolt" title="Circuit"></i>
        <a href="{{ termination.parent_object.get_absolute_url }}">
            {{ termination.parent_object.provider }}
            {{ termination.parent_object }}
        </a>
    {% else %}
        <a href="{{ termination.parent_object.get_absolute_url }}">{{ termination.parent_object }}</a>
    {% endif %}
</td>
<td>
    <a href="{{ termination.get_absolute_url }}">{{ termination }}</a>
</td>
