{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li><a href="{% url 'dcim:platform_list' %}">Platforms</a></li>
  <li>{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Platform</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        <tr>
          <td>Name</td>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ object.description|placeholder }}</td>
        </tr>
        <tr>
          <td>Manufacturer</td>
          <td>
            {% if object.manufacturer %}
              <a href="{{ object.manufacturer.get_absolute_url }}">{{ object.manufacturer }}</a>
            {% else %}
              <span class="text-muted">None</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>NAPALM Driver</td>
          <td>{{ object.napalm_driver|placeholder }}</td>
        </tr>
        <tr>
          <td>NAPALM Arguments</td>
          <td><pre>{{ object.napalm_args }}</pre></td>
        </tr>
        <tr>
          <td>Devices</td>
          <td>
            <a href="{% url 'dcim:device_list' %}?platform_id={{ object.pk }}">{{ devices_table.rows|length }}</a>
          </td>
        </tr>
      </table>
    </div>
    {% plugin_left_page object %}
	</div>
	<div class="col-md-6">
    {% include 'inc/custom_fields_panel.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
	<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Devices</strong>
      </div>
      {% include 'inc/table.html' with table=devices_table %}
      {% if perms.dcim.add_device %}
        <div class="panel-footer text-right noprint">
          <a href="{% url 'dcim:device_add' %}?device_role={{ object.pk }}" class="btn btn-xs btn-primary">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add device
          </a>
        </div>
      {% endif %}
    </div>
    {% include 'inc/paginator.html' with paginator=devices_table.paginator page=devices_table.page %}
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
