{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li><a href="{% url 'tenancy:tenantgroup_list' %}">Tenant Groups</a></li>
  {% for tenantgroup in object.get_ancestors %}
    <li><a href="{{ tenantgroup.get_absolute_url }}">{{ tenantgroup }}</a></li>
  {% endfor %}
  <li>{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Tenant Group</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        <tr>
          <td>Name</td>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ object.description|placeholder }}</td>
        </tr>
        <tr>
          <td>Parent</td>
          <td>
            {% if object.parent %}
              <a href="{{ object.parent.get_absolute_url }}">{{ object.parent }}</a>
            {% else %}
              <span class="text-muted">&mdash;</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Sites</td>
          <td>
            <a href="{% url 'tenancy:tenant_list' %}?group_id={{ object.pk }}">{{ tenants_table.rows|length }}</a>
          </td>
        </tr>
      </table>
    </div>
    {% plugin_left_page object %}
  </div>
	<div class="col-md-6">
    {% include 'inc/custom_fields_panel.html' %}
    {% plugin_right_page object %}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Tenants</strong>
      </div>
      {% include 'inc/table.html' with table=tenants_table %}
      {% if perms.tenancy.add_tenant %}
        <div class="panel-footer text-right noprint">
          <a href="{% url 'tenancy:tenant_add' %}?group={{ object.pk }}" class="btn btn-xs btn-primary">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add tenant
          </a>
        </div>
      {% endif %}
      </div>
      {% include 'inc/paginator.html' with paginator=tenants_table.paginator page=tenants_table.page %}
      {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
