{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li><a href="{% url 'virtualization:clustertype_list' %}">Cluster Types</a></li>
  <li>{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Cluster Type</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        <tr>
          <td>Name</td>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ object.description|placeholder }}</td>
        </tr>
        <tr>
          <td>Clusters</td>
          <td>
            <a href="{% url 'virtualization:cluster_list' %}?type_id={{ object.pk }}">{{ clusters_table.rows|length }}</a>
          </td>
        </tr>
      </table>
    </div>
    {% plugin_left_page object %}
	</div>
	<div class="col-md-6">
    {% include 'inc/custom_fields_panel.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
	<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Clusters</strong>
      </div>
      {% include 'inc/table.html' with table=clusters_table %}
      {% if perms.virtualization.add_cluster %}
        <div class="panel-footer text-right noprint">
          <a href="{% url 'virtualization:cluster_add' %}?type={{ object.pk }}" class="btn btn-xs btn-primary">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add cluster
          </a>
        </div>
      {% endif %}
    </div>
    {% include 'inc/paginator.html' with paginator=clusters_table.paginator page=clusters_table.page %}
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
