{% extends base_template %}
{% load form_helpers %}

{% block title %}{{ block.super }} - Journal{% endblock %}

{% block content %}
    {% if perms.extras.add_journalentry %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>New Journal Entry</strong>
            </div>
            <form action="{% url 'extras:journalentry_add' %}" method="post" enctype="multipart/form-data" class="form form-horizontal">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div class="row panel-body">
                    <div class="col-md-10 col-md-offset-1">
                        {% render_field form.kind %}
                        {% render_field form.comments %}
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="{{ object.get_absolute_url }}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    {% include 'panel_table.html' %}
    {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
{% endblock %}
