{% extends 'ipam/prefix/base.html' %}

{% block buttons %}
  {% if perms.ipam.add_ipaddress and first_available_ip %}
    <a href="{% url 'ipam:ipaddress_add' %}?address={{ first_available_ip }}&vrf={{ object.vrf.pk }}&tenant_group={{ object.tenant.group.pk }}&tenant={{ object.tenant.pk }}" class="btn btn-success">
        <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
        Add an IP Address
    </a>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% include 'utilities/obj_table.html' with table=ip_table table_template='panel_table.html' heading='IP Addresses' bulk_edit_url='ipam:ipaddress_bulk_edit' bulk_delete_url='ipam:ipaddress_bulk_delete' %}
    </div>
  </div>
{% endblock %}
