{% if perms.dcim.change_cable %}
    {% if cable.status == 'connected' %}
        <a href="#" class="btn btn-warning btn-xs cable-toggle connected" title="Mark planned" data="{{ cable.pk }}">
            <i class="mdi mdi-lan-disconnect" aria-hidden="true"></i>
        </a>
    {% else %}
        <a href="#" class="btn btn-success btn-xs cable-toggle" title="Mark installed" data="{{ cable.pk }}">
            <i class="mdi mdi-lan-connect" aria-hidden="true"></i>
        </a>
    {% endif %}
{% endif %}
